<a href="https://colab.research.google.com/github/nxxk23/AI-Engineer/blob/main/fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd

opd = pd.read_csv('/content/drive/MyDrive/AIEngineer/fraud/opd_discharge_August_2024.csv')
opd

,id,seq,created_at,updated_at,deleted_at,service_setting,illnes_type,policy_type,cid,cid_type,...,invoice_no,remark,created_submit_by,updated_submit_by,created_submit_at,updated_submit_at,other_insurer,is_check_claim_balance,is_reimbursement,epayment_id
0,5ac01d28-649e-45f1-bd6c-28bef03177fd,1723362821876838256,2024-08-11 14:53:41.876 +0700,2024-09-01 01:03:48.499 +0700,NaN,OPD,ILL,CS,3510600017435,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,4f632ac4-ca8e-4f0e-8c8d-7ed56a984f37
1,a58ad61f-5b33-4429-986a-c382d5f23a50,1725096090864466167,2024-08-31 16:21:30.864 +0700,2024-09-01 01:03:36.471 +0700,NaN,OPD,ACC,IB,3101202037015,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,1f43a222-41bf-45b2-8ed6-975488de9f2f
2,6fd19ff2-7795-48f4-8d88-489480e2bfbe,1725002199712584475,2024-08-30 14:16:39.712 +0700,2024-09-01 01:02:13.640 +0700,NaN,OPD,ILL,CS,1100700853593,NATIONAL_ID,...,3167230668,NaN,299cdc89-c705-40fa-b6a6-97f0a8f4e7f4,NaN,2024-09-17 13:19:53.204 +0700,NaN,False,NaN,N,8eee2860-bbf8-4f67-b22e-623b0cfe5dab
3,70e37d78-2db3-40f0-a139-e46d353466b0,1724063329282619820,2024-08-19 17:28:49.282 +0700,2024-09-01 01:02:32.927 +0700,NaN,OPD,ILL,CS,1102001744428,NATIONAL_ID,...,O13-6708-30159,NaN,NaN,NaN,NaN,NaN,False,NaN,N,10469d3c-a44c-42ab-ad39-e28f17a290d8
4,ecd8eec0-86b0-4ed1-a75f-6e724079fa73,1725001867113543084,2024-08-30 14:11:07.113 +0700,2024-09-01 01:02:13.640 +0700,NaN,OPD,ILL,CS,1103701107367,NATIONAL_ID,...,3167230670,NaN,299cdc89-c705-40fa-b6a6-97f0a8f4e7f4,NaN,2024-09-17 13:20:32.262 +0700,NaN,False,NaN,N,8eee2860-bbf8-4f67-b22e-623b0cfe5dab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54928,b08dc9a0-d0d9-446e-953c-6258d94bc441,1724156052825424332,2024-08-20 19:14:12.825 +0700,2024-09-01 01:01:58.572 +0700,NaN,OPD,ACC,CS,1100400063830,NATIONAL_ID,...,co-67-043129,NaN,58384171-7baa-4822-9250-65d63f194154,NaN,2024-09-06 16:13:19.878 +0700,NaN,False,NaN,N,6633e316-6d71-4f5b-b41c-ed10fde7ccef
54929,ded0693c-bee2-4b71-8633-0e63377f3ec6,1724165331195994020,2024-08-20 21:48:51.196 +0700,2024-09-01 01:01:58.572 +0700,NaN,OPD,ILL,IB,1749900148012,NATIONAL_ID,...,co-67-,NaN,58384171-7baa-4822-9250-65d63f194154,NaN,2024-09-06 16:15:39.739 +0700,NaN,False,NaN,N,6633e316-6d71-4f5b-b41c-ed10fde7ccef
54930,adb6c00b-530b-4c29-b3da-7e5522085b8e,1724198777748432307,2024-08-21 07:06:17.748 +0700,2024-09-01 01:01:58.572 +0700,NaN,OPD,ACC,IB,3759900231706,NATIONAL_ID,...,co-67-043031,NaN,58384171-7baa-4822-9250-65d63f194154,NaN,2024-09-06 16:16:57.144 +0700,NaN,False,NaN,N,6633e316-6d71-4f5b-b41c-ed10fde7ccef
54931,4290f566-004a-44f4-96bb-471994ce2835,1722505871463475160,2024-08-01 16:51:11.463 +0700,2024-09-01 01:01:53.343 +0700,NaN,OPD,ILL,IB,1200601639479,NATIONAL_ID,...,2193076,NaN,3107f60d-c3a5-40c0-8eba-0b6c3f8dd55b,NaN,2024-09-07 09:43:59.468 +0700,NaN,False,NaN,NaN,b5f76508-f23b-4ab4-ba3f-0333eacc62f9
54932,ac64f5f7-bd1c-41ed-9051-a4cb2d8454a0,1724912033537508909,2024-08-29 13:13:53.537 +0700,2024-09-01 01:02:41.758 +0700,NaN,OPD,ACC,CS,1570400167291,NATIONAL_ID,...,05592,NaN,e6572019-13a2-4f45-b41b-550eed996e15,NaN,2024-09-07 10:27:15.005 +0700,NaN,False,NaN,N,85ca1154-e9de-49cf-a41b-9e8131578b17

## **bill pipe**

In [87]:
import json

def load_billing_data(opd, index):
    """
    Load the billing data for a specific row from the 'opd' DataFrame.

    :param opd: DataFrame containing billing data
    :param index: The index of the row to extract billing data
    :return: Parsed list of billing data in JSON format
    """
    billing_initial = opd['billing'][index]  # Extract billing data from a specific row
    return json.loads(billing_initial)  # Parse JSON data and return as a list

def process_billing_data(bill_list, max_length=100):
    """
    Process each billing item in the list, calculating the effective billing amount after discounts.

    :param bill_list: List of billing items (dictionaries)
    :param max_length: Maximum length for displaying the local billing name
    :return: Processed list of billing amounts and the total amount after discounts
    """
    total_billing_amount_after_discount = 0.0
    processed_bills = []

    # Loop through each bill item to extract billing amounts and discounts
    for bill in bill_list:
        local_billing_name = bill.get('local_billing_name', 'N/A')
        if len(local_billing_name) > max_length:
            local_billing_name = local_billing_name[:max_length - 1] + "..."  # Truncate if needed

        billing_amount = float(bill['billing_initial'])  # Convert billing amount to float
        billing_discount = float(bill['billing_discount'])  # Convert discount to float

        # Calculate the effective amount after the discount
        effective_amount = billing_amount - billing_discount
        total_billing_amount_after_discount += effective_amount

        # Store the processed data for display
        processed_bills.append({
            'local_billing_name': local_billing_name,
            'billing_amount': billing_amount,
            'billing_discount': billing_discount,
            'effective_amount': effective_amount
        })

    return processed_bills, total_billing_amount_after_discount
def display_billing_data(processed_bills):
    """
    Display the processed billing data in a formatted table.

    :param processed_bills: List of processed billing items
    """
    # Print header
    print(f"{'Local Billing Name':<45}\t{'Billing Amount':<20}\t{'Discount':<20}")  # Adjust spacing as needed
    print("-" * 80)  # Separator line for clarity

    # Display each bill
    for bill in processed_bills:
        print(f"{bill['local_billing_name']:<45}\t{bill['billing_amount']:<20}\t{bill['billing_discount']:<20}")
def display_total_billing_amount(total_billing_amount_after_discount):
    """
    Display the total billing amount after applying all discounts.

    :param total_billing_amount_after_discount: Total billing amount after discounts
    """
    print("\nTotal Billing Amount After Discounts:")
    print(f"{total_billing_amount_after_discount:.2f}")
def billing_pipeline(opd, index, max_length=100):
    """
    Complete pipeline for loading, processing, and displaying billing data.

    :param opd: DataFrame containing billing data
    :param index: The index of the row to extract billing data
    :param max_length: Maximum length for displaying the local billing name
    """
    # Step 1: Load billing data
    bill_list = load_billing_data(opd, index)

    # Step 2: Process the billing data
    processed_bills, total_billing_amount_after_discount = process_billing_data(bill_list, max_length)

    # Step 3: Display the processed billing data
    display_billing_data(processed_bills)

    # Step 4: Display the total billing amount after discounts
    display_total_billing_amount(total_billing_amount_after_discount)

## **diag pipe**

In [106]:
import json

# Step 1: Extract Diagnosis Data
def load_diagnosis_data(decline, index):
    """
    Load the diagnosis data for a specific row from the 'decline' DataFrame.

    :param decline: DataFrame containing diagnosis data
    :param index: The index of the row to extract diagnosis data
    :return: Parsed list of diagnosis data in JSON format
    """
    diagnosis_data = decline['diagnosis'].iloc[index]  # Extract diagnosis data from a specific row
    return json.loads(diagnosis_data)  # Parse JSON data and return as a list

# Step 2: Process Diagnosis Data
def process_diagnosis_data(diagnosis_list):
    """
    Process the diagnosis data to extract ICD-10 and diagnosis names.

    :param diagnosis_list: List of diagnosis items (dictionaries)
    :return: List of dictionaries containing icd10 and dx_name for each diagnosis
    """
    processed_diagnoses = []

    # Loop through each diagnosis item to extract icd10 and dx_name
    for diagnosis in diagnosis_list:
        icd10 = diagnosis.get('icd10', 'N/A')
        dx_name = diagnosis.get('dx_name', 'N/A')

        # Store the processed data for display
        processed_diagnoses.append({
            'icd10': icd10,
            'dx_name': dx_name
        })

    return processed_diagnoses

# Step 3: Display Diagnosis Data
def display_diagnosis_data(processed_diagnoses):
    """
    Display the processed diagnosis data in a formatted table.

    :param processed_diagnoses: List of processed diagnosis items
    """
    # Print header
    print(f"{'ICD-10':<10}\t{'Diagnosis Name':<50}")  # Adjust spacing as needed
    print("-" * 60)  # Separator line for clarity

    # Display each diagnosis
    for diagnosis in processed_diagnoses:
        print(f"{diagnosis['icd10']:<10}\t{diagnosis['dx_name']:<50}")

# Step 4: Combine All Steps into a Pipeline
def diagnosis_pipeline(decline, index):
    """
    Complete pipeline for loading, processing, and displaying diagnosis data.

    :param decline: DataFrame containing diagnosis data
    :param index: The index of the row to extract diagnosis data
    """
    # Step 1: Load diagnosis data
    diagnosis_list = load_diagnosis_data(decline, index)

    # Step 2: Process the diagnosis data
    processed_diagnoses = process_diagnosis_data(diagnosis_list)

    # Step 3: Display the processed diagnosis data
    display_diagnosis_data(processed_diagnoses)

In [39]:
decline = opd[opd['claim_status']=='Decline']
approve = opd[opd['claim_status']=='Approve']

## **illness_type**

```
ประเภทการเคลม ตัวอย่าง
ACC = อุบัติเหตุ
ILL  = เจ็บป่วย
DAY = Day case (AIA)
PRE-ACC = อุบัติเหตุ-Pre Auth (AIA)
PRE-ILL = เจ็บป่วย-Pre Auth (AIA)
```

## **insurance**

```
ชื่อประกัน
aia = เอไอเอ
mtl = เมืองไทยประกันชีวิต
tli = ไทยประกันชีวิต
plt = พรูเด็นเชียลประกันชีวิต
tmlth = โตเกียวมารีนประกันชีวิต
fwd = เอฟดับบลิวดีประกันชีวิต
oli = ไทยสมุทร ประกันชีวิต
bla = กรุงเทพ ประกันชีวิต
pchi = แปซิฟิคครอส
tlig = ไทยประกันกลุ่ม
tqc = tqc
nir = สวัสดิการบริษัทเอกชน
```

## condition

มันอาจขึ้นกับ period time แล้วก็เงื่อนไขแบบเป็นโรคอยู่ก่อนแล้ว

In [59]:
decline['illnes_type'].value_counts()

illnes_type
ILL    149
ACC     34
FU       1
Name: count, dtype: int64

In [123]:
decline[['cid','chief_complaint','diagnosis','total_bill_amount','order_item','billing']]

,cid,chief_complaint,diagnosis,total_bill_amount,order_item,billing
334,3300800217090,แผล,"[{""icd10"": ""Z48"", ""dx_name"": ""การติดตามดูแลอื่...",300.0,"[{""initial"": ""300"", ""item_id"": ""1.1.14(1)"", ""d...","[{""billing_initial"": ""300"", ""billing_discount""..."
619,1209001132029,ไอ น้ำมูก,"[{""icd10"": ""J219"", ""dx_name"": ""Acute bronchiol...",911.0,[],"[{""billing_initial"": ""661.00"", ""billing_discou..."
882,3301000446966,F/U,"[{""icd10"": ""S817"", ""dx_name"": ""Multiple open w...",626.0,[],"[{""billing_initial"": ""316.00"", ""billing_discou..."
979,2800700019374,0,"[{""icd10"": ""K0512"", ""dx_name"": ""Ulcerative (TM...",1347.0,"[{""initial"": ""16"", ""item_id"": ""ST049"", ""discou...","[{""billing_initial"": ""16"", ""billing_discount"":..."
1209,1102003216933,นัดติดตามอาการ,"[{""icd10"": ""S00.4"", ""dx_name"": ""Superficial in...",2715.0,[],"[{""billing_initial"": ""650.00"", ""billing_discou..."
...,...,...,...,...,...,...
51624,1100700972860,นัดติดตามอาการ,"[{""icd10"": ""J304"", ""dx_name"": ""Allergic rhinit...",1500.0,"[{""initial"": ""50"", ""item_id"": ""FIN103"", ""disco...","[{""billing_initial"": ""50"", ""billing_discount"":..."
51737,1670500134645,นัดF/U,"[{""icd10"": ""K297"", ""dx_name"": ""Gastritis, unsp...",1400.0,[],"[{""billing_initial"": ""500.00"", ""billing_discou..."
52013,3320600614907,นัดติดตามอาการ,"[{""icd10"": ""T16"", ""dx_name"": ""Foreign body in ...",3111.0,"[{""initial"": ""2000"", ""item_id"": ""1.2.2"", ""disc...","[{""billing_initial"": ""2000"", ""billing_discount..."
52411,1401600038799,ติดตามอาการ,"[{""icd10"": ""H740"", ""dx_name"": ""Tympanosclerosi...",1026.0,[],"[{""billing_initial"": ""435.00"", ""billing_discou..."
53333,1229901884370,นัดติดตามอาการ,"[{""icd10"": ""D50"", ""dx_name"": ""โลหิตจางจากการขา...",1500.0,[],"[{""billing_initial"": ""1500.00"", ""billing_disco..."

In [144]:
# Example usage
decline_diag = diagnosis_pipeline(opd, index=54799)
decline_diag

ICD-10    	Diagnosis Name
------------------------------------------------------------
R50.9     	Fever, unspecified

## รพนี้จ้า

In [160]:
approve[approve['hospital_code']==11771].shape

(1951, 92)

In [161]:
decline[decline['hospital_code']==11771].shape

(30, 92)

### a

In [162]:
decline[decline['hospital_code']==11771].head(1)

,id,seq,created_at,updated_at,deleted_at,service_setting,illnes_type,policy_type,cid,cid_type,...,invoice_no,remark,created_submit_by,updated_submit_by,created_submit_at,updated_submit_at,other_insurer,is_check_claim_balance,is_reimbursement,epayment_id
1707,e4c5c3d4-7c36-46a7-be7b-49907be98177,1724209959933104865,2024-08-21 10:12:39.933 +0700,2024-09-01 01:02:55.098 +0700,NaN,OPD,ILL,IB,1170600153522,NATIONAL_ID,...,09-67075676,NaN,NaN,NaN,NaN,NaN,False,NaN,N,1adb1315-2142-47c3-9934-0b3a410f94d4

In [164]:
# Example usage
decline_diag = diagnosis_pipeline(opd, index=1707)
decline_diag

ICD-10    	Diagnosis Name
------------------------------------------------------------
J039      	Acute tonsillitis, unspecified

In [163]:
# Example usage
decline_bill = billing_pipeline(opd, index=1707, max_length=100)
decline_bill

Local Billing Name                           	Billing Amount      	Discount
--------------------------------------------------------------------------------
Outpatient Medication   ค่ายาผู้ป่วยนอก      	60.0                	0.0
Medical Supplies 1   เวชภัณฑ์1               	16.0                	0.0
Nursing and Midwifery Charge   ค่าบริการพยาบาล	67.0                	0.0
Other Medical Service Charge ค่าบริการทางการแพทย์	89.0                	0.0
First Outpatient care before admission  ค่าแพทย์ตรวจรักษาครั้งแรก	249.0               	0.0
General Medical Equipment  ค่าอุปกรณ์นอกห้องผ่าตัด	223.0               	0.0
Physician Procedures  ค่าแพทย์ศัลยกรรม  หัตถการผ่าตัด	745.0               	0.0

Total Billing Amount After Discounts:
1449.00

### b

In [165]:
approve[approve['hospital_code']==11771].head(1)

,id,seq,created_at,updated_at,deleted_at,service_setting,illnes_type,policy_type,cid,cid_type,...,invoice_no,remark,created_submit_by,updated_submit_by,created_submit_at,updated_submit_at,other_insurer,is_check_claim_balance,is_reimbursement,epayment_id
148,060b040b-f0ef-46fd-9fa4-34deb6c1d651,1725008872749958798,2024-08-30 16:07:52.750 +0700,2024-09-01 01:02:55.098 +0700,NaN,OPD,ILL,CS,3480500091448,NATIONAL_ID,...,09-67078514,NaN,NaN,NaN,NaN,NaN,False,NaN,N,1adb1315-2142-47c3-9934-0b3a410f94d4

In [170]:
print(opd['insurance'].loc[148]) #dec #กะเพาะอักเสบ 942
print(opd['insurance'].loc[1707]) ## app #ทอนซิลอักเสบ 1449.00

mtl
aia

In [166]:
# Example usage
decline_diag = diagnosis_pipeline(opd, index=148)
decline_diag

ICD-10    	Diagnosis Name
------------------------------------------------------------
A099      	Gastroenteritis and colitis of unspecified origin [AGE]

In [167]:
# Example usage
decline_bill = billing_pipeline(opd, index=148, max_length=100)
decline_bill

Local Billing Name                           	Billing Amount      	Discount
--------------------------------------------------------------------------------
Outpatient Medication   ค่ายาผู้ป่วยนอก      	339.0               	0.0
Nursing and Midwifery Charge   ค่าบริการพยาบาล	38.0                	0.0
Other Medical Service Charge ค่าบริการทางการแพทย์	150.0               	0.0
First Outpatient care before admission  ค่าแพทย์ตรวจรักษาครั้งแรก	415.0               	0.0

Total Billing Amount After Discounts:
942.00

In [145]:
# Example usage
decline_diag = diagnosis_pipeline(opd, index=52557)
decline_diag

ICD-10    	Diagnosis Name
------------------------------------------------------------
R50.9     	Fever, unspecified

In [140]:
# Example usage
decline_bill = billing_pipeline(opd, index=52557, max_length=100)
decline_bill

Local Billing Name                           	Billing Amount      	Discount
--------------------------------------------------------------------------------
Outpatient Medication   ค่ายาผู้ป่วยนอก      	910.0               	0.0
Other Medical Service Charge ค่าบริการทางการแพทย์	120.0               	0.0
First Outpatient care before admission  ค่าแพทย์ตรวจรักษาครั้งแรก	350.0               	0.0

Total Billing Amount After Discounts:
1380.00

In [143]:
print(opd['chief_complaint'].loc[54799])
print(opd['chief_complaint'].loc[52557])

-
-

In [90]:
# Example usage
decline_bill = billing_pipeline(decline, index=35587, max_length=100)
decline_bill

Local Billing Name                           	Billing Amount      	Discount
--------------------------------------------------------------------------------
Outpatient Medication   ค่ายาผู้ป่วยนอก      	467.0               	0.0
Nursing and Midwifery Charge   ค่าบริการพยาบาล	36.0                	0.0
Other Medical Service Charge ค่าบริการทางการแพทย์	142.0               	0.0
First Outpatient care before admission  ค่าแพทย์ตรวจรักษาครั้งแรก	355.0               	0.0

Total Billing Amount After Discounts:
1000.00

In [57]:
opd['updated_submit_by'].notnull().sum()

814

## drop columns

In [130]:
json.loads(opd['billing'].iloc[0])

[{'billing_initial': '33.00',
  'billing_discount': '3.00',
  'simb_billing_code': '1.1.1(3)',
  'billing_net_amount': '30.00',
  'local_billing_name': 'Outpatient Medication   ค่ายาผู้ป่วยนอก'},
 {'billing_initial': '790.00',
  'billing_discount': '0.00',
  'simb_billing_code': '1.1.4',
  'billing_net_amount': '790.00',
  'local_billing_name': 'Laboratory Investigation and Pathology  ค่าตรวจทางเทคนิค พยาธิวิทยา'},
 {'billing_initial': '280.00',
  'billing_discount': '0.00',
  'simb_billing_code': '1.1.14(2)',
  'billing_net_amount': '280.00',
  'local_billing_name': 'Other Medical Service Charge ค่าบริการทางการแพทย์'},
 {'billing_initial': '700.00',
  'billing_discount': '0.00',
  'simb_billing_code': '1.2.1(1)',
  'billing_net_amount': '700.00',
  'local_billing_name': 'First Outpatient care before admission  ค่าแพทย์ตรวจรักษาครั้งแรก'}]

In [ ]:
'service_setting','deleted_at','','dsc_date_time'

In [132]:
opd.columns

Index(['id', 'seq', 'created_at', 'updated_at', 'deleted_at',
       'service_setting', 'illnes_type', 'policy_type', 'cid', 'cid_type',
       'claim_status', 'claim_status_desc', 'ref_id', 'transaction_uid',
       'transaction_no', 'is_follow_up', 'further_claim_id',
       'electronic_signature', 'accident_cause_over45_days', 'admit_date_time',
       'admit_date_time_txt', 'dsc_date_time', 'dsc_date_time_txt',
       'chief_complaint', 'is_procedure', 'icd9', 'dx_free_text', 'coma_score',
       'claim_from_motorcycle', 'visit_with_alcohol_or_drug',
       'alcohol_related', 'addiction_related', 'pregnant', 'total_bill_amount',
       'total_bill_amount_txt', 'patient', 'vital_sign', 'doctor',
       'order_item', 'billing', 'attach_doc_list', 'diagnosis', 'response',
       'check_eligible_id', 'insurance', 'insurance_id', 'hospital_code',
       'hospital_id', 'claim_no', 'discharge_date', 'discharge_date_txt',
       'member_id', 'further_claim', 'patient_registration_id',
       'is_cancel_type', 'total_approve_amount', 'total_approve_amount_txt',
       'total_excess_amount', 'total_excess_amount_txt', 'total_copay_amount',
       'total_copay_amount_txt', 'approve_at', 'approve_at_txt', 'submit_at',
       'submit_at_txt', 'cancel_at', 'cancel_at_txt', 'settle_at',
       'settle_at_txt', 'payment_date', 'payment_date_txt', 'discharge_at',
       'discharge_at_txt', 'hn_or_vn', 'cancel_reason', 'cancel_reason_other',
       'batch_no', 'submited_by', 'discharge_by', 'created_by', 'updated_by',
       'cancle_by', 'invoice_no', 'remark', 'created_submit_by',
       'updated_submit_by', 'created_submit_at', 'updated_submit_at',
       'other_insurer', 'is_check_claim_balance', 'is_reimbursement',
       'epayment_id'],
      dtype='object')

In [137]:
opd['billing'].loc[52557]

'[{"billing_initial": "910.00", "billing_discount": "0.00", "simb_billing_code": "1.1.1(3)", "billing_net_amount": "910.00", "local_billing_name": "Outpatient Medication   ค่ายาผู้ป่วยนอก"}, {"billing_initial": "120.00", "billing_discount": "0.00", "simb_billing_code": "1.1.14(2)", "billing_net_amount": "120.00", "local_billing_name": "Other Medical Service Charge ค่าบริการทางการแพทย์"}, {"billing_initial": "350.00", "billing_discount": "0.00", "simb_billing_code": "1.2.1(1)", "billing_net_amount": "350.00", "local_billing_name": "First Outpatient care before admission  ค่าแพทย์ตรวจรักษาครั้งแรก"}]'

In [127]:
opd[['admit_date_time','dsc_date_time']].isnull().sum()

admit_date_time    54933
dsc_date_time      54933
dtype: int64

In [58]:
opd.columns

Index(['id', 'seq', 'created_at', 'updated_at', 'deleted_at',
       'service_setting', 'illnes_type', 'policy_type', 'cid', 'cid_type',
       'claim_status', 'claim_status_desc', 'ref_id', 'transaction_uid',
       'transaction_no', 'is_follow_up', 'further_claim_id',
       'electronic_signature', 'accident_cause_over45_days', 'admit_date_time',
       'admit_date_time_txt', 'dsc_date_time', 'dsc_date_time_txt',
       'chief_complaint', 'is_procedure', 'icd9', 'dx_free_text', 'coma_score',
       'claim_from_motorcycle', 'visit_with_alcohol_or_drug',
       'alcohol_related', 'addiction_related', 'pregnant', 'total_bill_amount',
       'total_bill_amount_txt', 'patient', 'vital_sign', 'doctor',
       'order_item', 'billing', 'attach_doc_list', 'diagnosis', 'response',
       'check_eligible_id', 'insurance', 'insurance_id', 'hospital_code',
       'hospital_id', 'claim_no', 'discharge_date', 'discharge_date_txt',
       'member_id', 'further_claim', 'patient_registration_id',
       'is_cancel_type', 'total_approve_amount', 'total_approve_amount_txt',
       'total_excess_amount', 'total_excess_amount_txt', 'total_copay_amount',
       'total_copay_amount_txt', 'approve_at', 'approve_at_txt', 'submit_at',
       'submit_at_txt', 'cancel_at', 'cancel_at_txt', 'settle_at',
       'settle_at_txt', 'payment_date', 'payment_date_txt', 'discharge_at',
       'discharge_at_txt', 'hn_or_vn', 'cancel_reason', 'cancel_reason_other',
       'batch_no', 'submited_by', 'discharge_by', 'created_by', 'updated_by',
       'cancle_by', 'invoice_no', 'remark', 'created_submit_by',
       'updated_submit_by', 'created_submit_at', 'updated_submit_at',
       'other_insurer', 'is_check_claim_balance', 'is_reimbursement',
       'epayment_id'],
      dtype='object')

In [45]:
approve[['other_insurer','total_bill_amount','billing','total_approve_amount']]

,other_insurer,total_bill_amount,billing,total_approve_amount
1,False,4358.0,"[{""billing_initial"": ""1032.00"", ""billing_disco...",4358.0
3,False,1400.0,"[{""billing_initial"": ""350"", ""billing_discount""...",1400.0
11,False,2014.0,"[{""billing_initial"": ""700"", ""billing_discount""...",2014.0
13,False,1410.0,"[{""billing_initial"": ""500"", ""billing_discount""...",1410.0
14,False,2463.0,"[{""billing_initial"": ""1436.00"", ""billing_disco...",2463.0
...,...,...,...,...
54802,False,1690.0,"[{""billing_initial"": ""1170.00"", ""billing_disco...",1690.0
54818,False,1180.0,"[{""billing_initial"": ""660.00"", ""billing_discou...",1180.0
54823,False,1070.0,"[{""billing_initial"": ""300.00"", ""billing_discou...",1070.0
54868,False,2385.0,"[{""billing_initial"": ""60.00"", ""billing_discoun...",2310.0
54869,False,730.0,"[{""billing_initial"": ""30.00"", ""billing_discoun...",730.0

In [42]:
decline[['insurance','visit_with_alcohol_or_drug','total_bill_amount','billing','total_approve_amount']]['insurance'].value_counts()

insurance
tli    72
aia    68
mtl    35
fwd     8
bla     1
Name: count, dtype: int64

In [43]:
approve[['insurance','visit_with_alcohol_or_drug','total_bill_amount','billing','total_approve_amount']]['insurance'].value_counts()

insurance
mtl      8802
fwd      2993
aia      2751
tli      1011
tmlth      10
plt         8
oli         5
bla         1
Name: count, dtype: int64

In [22]:
decline[['vital_sign','visit_with_alcohol_or_drug','total_bill_amount','billing','total_approve_amount']]

,vital_sign,visit_with_alcohol_or_drug,total_bill_amount,billing,total_approve_amount
334,"[{""heart_rate"": ""66"", ""pain_score"": ""0"", ""syst...",N,300.0,"[{""billing_initial"": ""300"", ""billing_discount""...",0.0
619,[],N,911.0,"[{""billing_initial"": ""661.00"", ""billing_discou...",0.0
882,[],N,626.0,"[{""billing_initial"": ""316.00"", ""billing_discou...",0.0
979,"[{""heart_rate"": ""90"", ""pain_score"": ""0"", ""syst...",N,1347.0,"[{""billing_initial"": ""16"", ""billing_discount"":...",0.0
1209,[],N,2715.0,"[{""billing_initial"": ""650.00"", ""billing_discou...",0.0
...,...,...,...,...,...
51624,[],N,1500.0,"[{""billing_initial"": ""50"", ""billing_discount"":...",0.0
51737,[],N,1400.0,"[{""billing_initial"": ""500.00"", ""billing_discou...",0.0
52013,[],N,3111.0,"[{""billing_initial"": ""2000"", ""billing_discount...",0.0
52411,[],N,1026.0,"[{""billing_initial"": ""435.00"", ""billing_discou...",0.0
53333,"[{""heart_rate"": ""148.00"", ""pain_score"": ""0"", ""...",N,1500.0,"[{""billing_initial"": ""1500.00"", ""billing_disco...",0.0

In [9]:
approve = opd[opd['claim_status']=='Approve']
approve

,id,seq,created_at,updated_at,deleted_at,service_setting,illnes_type,policy_type,cid,cid_type,...,invoice_no,remark,created_submit_by,updated_submit_by,created_submit_at,updated_submit_at,other_insurer,is_check_claim_balance,is_reimbursement,epayment_id
1,a58ad61f-5b33-4429-986a-c382d5f23a50,1725096090864466167,2024-08-31 16:21:30.864 +0700,2024-09-01 01:03:36.471 +0700,NaN,OPD,ACC,IB,3101202037015,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,1f43a222-41bf-45b2-8ed6-975488de9f2f
3,70e37d78-2db3-40f0-a139-e46d353466b0,1724063329282619820,2024-08-19 17:28:49.282 +0700,2024-09-01 01:02:32.927 +0700,NaN,OPD,ILL,CS,1102001744428,NATIONAL_ID,...,O13-6708-30159,NaN,NaN,NaN,NaN,NaN,False,NaN,N,10469d3c-a44c-42ab-ad39-e28f17a290d8
11,d4020587-651c-4347-b2d7-972285f5fffc,1725099003547787799,2024-08-31 17:10:03.547 +0700,2024-09-01 01:03:36.471 +0700,NaN,OPD,ILL,CS,1640100085281,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,1f43a222-41bf-45b2-8ed6-975488de9f2f
13,787e5b14-d3b0-4dab-a488-e7fcff1567b6,1723290558847439682,2024-08-10 18:49:18.847 +0700,2024-09-01 01:03:36.471 +0700,NaN,OPD,ILL,CS,1103100256856,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,1f43a222-41bf-45b2-8ed6-975488de9f2f
14,e4ca42ca-ce7b-481c-b7dd-efeafb75662f,1723292141447625309,2024-08-10 19:15:41.447 +0700,2024-09-01 01:03:36.471 +0700,NaN,OPD,ILL,CS,1101499023411,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,1f43a222-41bf-45b2-8ed6-975488de9f2f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54802,710f9823-09b3-43ec-ad91-e8503434d044,1723085321289060738,2024-08-08 09:48:41.289 +0700,2024-09-01 01:02:36.252 +0700,NaN,OPD,FU,IB,1860201171628,NATIONAL_ID,...,NaN,NaN,a78c6012-9dfc-4e52-a8d5-346121f89f81,NaN,2024-08-08 12:26:18.672 +0700,NaN,False,NaN,N,32ad7602-ba9e-443d-bd3c-f06ad75a39f6
54818,6d3194dd-94f5-4d10-bb63-99572014602c,1722760713687990818,2024-08-04 15:38:33.688 +0700,2024-09-01 01:02:36.252 +0700,NaN,OPD,ILL,IB,1869901200882,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,32ad7602-ba9e-443d-bd3c-f06ad75a39f6
54823,ee803d66-80d3-43c6-91ee-e502241ff9f6,1724991919000555219,2024-08-30 11:25:19.000 +0700,2024-09-01 01:02:36.252 +0700,NaN,OPD,ACC,IB,3840300008403,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,32ad7602-ba9e-443d-bd3c-f06ad75a39f6
54868,dcb017c6-5208-4f88-8f5b-efb9517e4f20,1722915889871145716,2024-08-06 10:44:49.871 +0700,2024-09-01 01:02:43.883 +0700,NaN,OPD,ACC,CS,1929900177614,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,3e52397f-48fb-4d18-ab4c-6adef25be5d6
54869,af82324c-52a5-422d-b4bd-e2a62d9f47f5,1722911989072859845,2024-08-06 09:39:49.072 +0700,2024-09-01 01:02:43.883 +0700,NaN,OPD,ILL,CS,3510300103361,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,3e52397f-48fb-4d18-ab4c-6adef25be5d6

In [19]:
import json

json.loads(approve['billing'].iloc[1])

[{'billing_initial': '350',
  'billing_discount': '0',
  'simb_billing_code': '1.2.1(1)',
  'billing_net_amount': '350.00',
  'local_billing_code': '1.2.1(1)',
  'local_billing_name': 'First Outpatient care before admission  ค่าแพทย์ตรวจรักษาครั้งแรก'},
 {'billing_initial': '694.00',
  'billing_discount': '69.00',
  'simb_billing_code': '1.1.1(3)',
  'billing_net_amount': '625.00',
  'local_billing_code': '1.1.1(3)',
  'local_billing_name': 'Outpatient Medication   ค่ายาผู้ป่วยนอก'},
 {'billing_initial': '75',
  'billing_discount': '0',
  'simb_billing_code': '1.1.2(1)',
  'billing_net_amount': '75.00',
  'local_billing_code': '1.1.2(1)',
  'local_billing_name': 'Medical Supplies 1   เวชภัณฑ์1'},
 {'billing_initial': '175',
  'billing_discount': '0',
  'simb_billing_code': '1.1.12',
  'billing_net_amount': '175.00',
  'local_billing_code': '1.1.12',
  'local_billing_name': 'Nursing and Midwifery Charge   ค่าบริการพยาบาล'},
 {'billing_initial': '175.00',
  'billing_discount': '0.00',
  'simb_billing_code': '1.1.14(2)',
  'billing_net_amount': '175.00',
  'local_billing_code': '1.1.14(2)',
  'local_billing_name': 'Other Medical Service Charge ค่าบริการทางการแพทย์'}]

In [11]:
approve[['chief_complaint','visit_with_alcohol_or_drug','total_bill_amount','billing','total_approve_amount']]

,chief_complaint,visit_with_alcohol_or_drug,total_bill_amount,billing,total_approve_amount
1,ขาขวากระแทกประตู 09.30 น \r\nไม่แพ้ยา,N,4358.0,"[{""billing_initial"": ""1032.00"", ""billing_disco...",4358.0
3,มีน้ำมูก คัดจมูก หูอื้อ เป็นมา 3 วัน \r\n\r\n...,N,1400.0,"[{""billing_initial"": ""350"", ""billing_discount""...",1400.0
11,เจ็บคอ,N,2014.0,"[{""billing_initial"": ""700"", ""billing_discount""...",2014.0
13,ปวดท้องประจำเดือน,N,1410.0,"[{""billing_initial"": ""500"", ""billing_discount""...",1410.0
14,"ไอ เจ็บคอ /w,jcrhpk",N,2463.0,"[{""billing_initial"": ""1436.00"", ""billing_disco...",2463.0
...,...,...,...,...,...
54802,-,N,1690.0,"[{""billing_initial"": ""1170.00"", ""billing_disco...",1690.0
54818,-,N,1180.0,"[{""billing_initial"": ""660.00"", ""billing_discou...",1180.0
54823,-,N,1070.0,"[{""billing_initial"": ""300.00"", ""billing_discou...",1070.0
54868,เวียนศีรษะ หน้ามืด แผลถลอกที่เข่า ศีระด้านหลัง...,N,2385.0,"[{""billing_initial"": ""60.00"", ""billing_discoun...",2310.0
54869,ปวดท้องน้อยด้านขวา,N,730.0,"[{""billing_initial"": ""30.00"", ""billing_discoun...",730.0

In [97]:
opd[['claim_status','claim_status_desc']].value_counts()

claim_status    claim_status_desc
Submit          ทำการวางบิลเเล้ว                        23862
Approve         อนุมัติการเรียกร้องสินไหม               15581
Received        ได้รับเอกสารแล้ว                        11256
Submit          ทำการส่งเคลมเเล้ว                        2044
Cancelled       ยกเลิกรายการ                             1032
Settle          จ่ายเงินสินไหมทดแทนแล้ว                   837
Decline         ไม่อนุมัติการเรียกร้องสินไหมครั้งนี้      184
Reversed        ยกเลิกรายการ                               47
Received        ได้รับเอกสารแล้ว                           38
Processing      กำลังพิจารณา                               31
AddDoc          ได้รับเอกสารเพิ่มเติมแล้ว                  15
Not applicable  ไม่พบข้อมูล                                 2
Settle          Settle                                      1
Name: count, dtype: int64

## **calculate bill**

In [24]:
import json

# Load the first row of the billing column
billing_initial = opd['billing'][0]
bill_list = json.loads(billing_initial)
total_billing_amount_after_discount = 0.0

# Loop through each bill item to extract billing amounts and discounts
for bill in bill_list:
    # Extract the billing amount and discount, converting to float
    billing_amount = float(bill['billing_initial'])  # Convert to float for summation
    billing_discount = float(bill['billing_discount'])  # Convert to float
    print(f"Billing Initial: {billing_amount:.2f}  Discount: {billing_discount:.2f}")
    effective_amount = billing_amount - billing_discount
    total_billing_amount_after_discount += effective_amount

# Display the total billing amount after discounts
print("\nTotal Billing Amount After Discounts:")
print(f"{total_billing_amount_after_discount:.2f}")

Billing Initial: 33.00  Discount: 3.00
Billing Initial: 790.00  Discount: 0.00
Billing Initial: 280.00  Discount: 0.00
Billing Initial: 700.00  Discount: 0.00

Total Billing Amount After Discounts:
1800.00

In [51]:
import json

# Load the first row of the billing column
billing_initial = opd['billing'][6204]  # Adjust the index as needed
bill_list = json.loads(billing_initial)
total_billing_amount_after_discount = 0.0

# Print header
print(f"{'Local Billing Name':<45}\t{'Billing Amount':<20}\t{'Discount':<20}")  # Adjust spacing as needed
print("-" * 80)  # Separator line for clarity

# Set the maximum length for the local billing name
max_length = 50  # Adjust based on your desired length

# Loop through each bill item to extract billing amounts and discounts
for bill in bill_list:
    # Extract the billing amount and discount, converting to float
    local_billing_name = bill.get('local_billing_name', 'N/A')  # Get local billing name
    if len(local_billing_name) > max_length:
        local_billing_name = local_billing_name[:max_length - 5] + "..."  # Truncate and add ellipsis
    billing_amount = float(bill['billing_initial'])  # Convert to float for summation
    billing_discount = float(bill['billing_discount'])  # Convert to float

    # Print the row with formatted output
    print(f"{local_billing_name:<45}\t{billing_amount:<20}\t{billing_discount:<20}")

    effective_amount = billing_amount - billing_discount
    total_billing_amount_after_discount += effective_amount

# Display the total billing amount after discounts
print("\nTotal Billing Amount After Discounts:")
print(f"{total_billing_amount_after_discount:.2f}")

Local Billing Name                           	Billing Amount      	Discount
--------------------------------------------------------------------------------
Outpatient Medication   ค่ายาผู้ป่วยนอก      	0.0                 	0.0
Medical Supplies 1   เวชภัณฑ์1               	0.0                 	0.0
Laboratory Investigation and Pathology  ค่าตร...	0.0                 	0.0
Nursing and Midwifery Charge   ค่าบริการพยาบาล	0.0                 	0.0
Other Medical Service Charge ค่าบริการทางการแพทย์	0.0                 	0.0
First Outpatient care before admission  ค่าแพ...	0.0                 	0.0

Total Billing Amount After Discounts:
0.00

In [52]:
import json

# Load the first row of the billing column
billing_initial = opd['billing'][1]  # Adjust the index as needed
bill_list = json.loads(billing_initial)
total_billing_amount_after_discount = 0.0

# Print header
print(f"{'Local Billing Name':<45}\t{'Billing Amount':<20}\t{'Discount':<20}")  # Adjust spacing as needed
print("-" * 80)  # Separator line for clarity

# Set the maximum length for the local billing name
max_length = 50  # Adjust based on your desired length

# Loop through each bill item to extract billing amounts and discounts
for bill in bill_list:
    # Extract the billing amount and discount, converting to float
    local_billing_name = bill.get('local_billing_name', 'N/A')  # Get local billing name
    if len(local_billing_name) > max_length:
        local_billing_name = local_billing_name[:max_length - 5] + "..."  # Truncate and add ellipsis
    billing_amount = float(bill['billing_initial'])  # Convert to float for summation
    billing_discount = float(bill['billing_discount'])  # Convert to float

    # Print the row with formatted output
    print(f"{local_billing_name:<45}\t{billing_amount:<20}\t{billing_discount:<20}")

    effective_amount = billing_amount - billing_discount
    total_billing_amount_after_discount += effective_amount

# Display the total billing amount after discounts
print("\nTotal Billing Amount After Discounts:")
print(f"{total_billing_amount_after_discount:.2f}")

Local Billing Name                           	Billing Amount      	Discount
--------------------------------------------------------------------------------
Outpatient Medication   ค่ายาผู้ป่วยนอก      	1032.0              	103.0
Nursing and Midwifery Charge   ค่าบริการพยาบาล	650.0               	0.0
Other Medical Service Charge ค่าบริการทางการแพทย์	310.0               	0.0
Medical Supplies 1   เวชภัณฑ์1               	429.0               	0.0
First Outpatient care before admission  ค่าแพ...	1200.0              	0.0
Physician Procedures  ค่าแพทย์ศัลยกรรม  หัตถก...	840.0               	0.0

Total Billing Amount After Discounts:
4358.00

In [21]:
# print(opd[['total_bill_amount','total_bill_amount_txt','billing']].info())
opd[['total_bill_amount','billing']]

,total_bill_amount,total_bill_amount_txt,billing
0,1800.0,1800.0,"[{""billing_initial"": ""33.00"", ""billing_discoun..."
1,4358.0,4358.0,"[{""billing_initial"": ""1032.00"", ""billing_disco..."
2,1000.0,1000.0,"[{""billing_initial"": ""1006.00"", ""billing_disco..."
3,1400.0,1400.0,"[{""billing_initial"": ""350"", ""billing_discount""..."
4,1254.0,1254.0,"[{""billing_initial"": ""1270.00"", ""billing_disco..."
...,...,...,...
54928,6850.0,6850.0,"[{""billing_initial"": ""890.00"", ""billing_discou..."
54929,1955.0,1955.0,"[{""billing_initial"": ""745.00"", ""billing_discou..."
54930,5130.0,5130.0,"[{""billing_initial"": ""700.00"", ""billing_discou..."
54931,115.0,115.0,"[{""billing_initial"": ""15.00"", ""billing_discoun..."
54932,624.0,624.0,"[{""billing_initial"": ""200"", ""billing_discount""..."

In [18]:
opd[opd['total_bill_amount_txt'].isnull()][['total_bill_amount','total_bill_amount_txt','billing']] ## ต้องเติมด้วย 0 แต่จริงๆก็ควร drop total_bill_amount_txt

,total_bill_amount,total_bill_amount_txt,billing
6204,0.0,NaN,"[{""billing_initial"": ""0.00"", ""billing_discount..."

> check if there any incorrect data

In [55]:
!pip -q install prettytable

In [65]:
import json
import pandas as pd
from prettytable import PrettyTable
import math

In [66]:
# List to store discrepancies
discrepancies = []

# Loop through each row in the DataFrame
for index, row in opd.iterrows():
    billing_initial = row['billing']  # Get the billing JSON string
    bill_list = json.loads(billing_initial)  # Convert JSON string to list
    total_billing_amount_after_discount = 0.0

    # Loop through each bill item to extract billing amounts and discounts
    for bill in bill_list:
        # Extract the billing amount and discount, converting to float
        billing_amount = float(bill['billing_initial'])  # Convert to float for summation
        billing_discount = float(bill['billing_discount'])  # Convert to float

        effective_amount = billing_amount - billing_discount
        total_billing_amount_after_discount += effective_amount

    # Check for discrepancies with rounded comparison
    if not math.isclose(total_billing_amount_after_discount, row['total_bill_amount'], rel_tol=1e-9):
        discrepancies.append({
            'Row': index,
            'Expected': row['total_bill_amount'],
            'Calculated': total_billing_amount_after_discount
        })

# Display discrepancies in a table format using PrettyTable
if discrepancies:
    table = PrettyTable()
    table.field_names = ["Row", "Expected", "Calculated"]

    for discrepancy in discrepancies:
        table.add_row([discrepancy['Row'], discrepancy['Expected'], f"{discrepancy['Calculated']:.2f}"])

    print(table)
else:
    print("No discrepancies found.")

+-------+----------+------------+
|  Row  | Expected | Calculated |
+-------+----------+------------+
|  786  |  1462.8  |  1461.90   |
|  1511 |  4285.0  |  4284.00   |
|  1786 |  530.0   |   131.00   |
|  2405 |  800.0   |   800.00   |
| 15141 |  648.0   |   648.00   |
| 17298 |  2296.9  |  2296.10   |
| 24361 |  1000.0  |  1000.00   |
| 29454 |  1520.0  |  1520.00   |
| 35394 |  1000.0  |  1000.00   |
| 35570 |  600.0   |   600.00   |
| 35585 |  800.0   |   800.00   |
| 36139 |  3000.0  |  3000.00   |
| 36669 |  1000.0  |  1000.00   |
| 36688 |  800.0   |   800.00   |
| 37531 |  800.0   |   800.00   |
| 37956 |  800.0   |   800.00   |
| 38277 |  1500.0  |  1500.00   |
| 38854 |  800.0   |   800.00   |
| 38868 |  800.0   |   800.00   |
| 38879 |  800.0   |   800.00   |
| 40138 |  1463.4  |  1462.50   |
| 51312 |  885.0   |   356.00   |
| 53320 |  800.0   |   800.00   |
| 53993 |  630.0   |   131.00   |
+-------+----------+------------+

In [80]:
opd.columns

Index(['id', 'seq', 'created_at', 'updated_at', 'deleted_at',
       'service_setting', 'illnes_type', 'policy_type', 'cid', 'cid_type',
       'claim_status', 'claim_status_desc', 'ref_id', 'transaction_uid',
       'transaction_no', 'is_follow_up', 'further_claim_id',
       'electronic_signature', 'accident_cause_over45_days', 'admit_date_time',
       'admit_date_time_txt', 'dsc_date_time', 'dsc_date_time_txt',
       'chief_complaint', 'is_procedure', 'icd9', 'dx_free_text', 'coma_score',
       'claim_from_motorcycle', 'visit_with_alcohol_or_drug',
       'alcohol_related', 'addiction_related', 'pregnant', 'total_bill_amount',
       'total_bill_amount_txt', 'patient', 'vital_sign', 'doctor',
       'order_item', 'billing', 'attach_doc_list', 'diagnosis', 'response',
       'check_eligible_id', 'insurance', 'insurance_id', 'hospital_code',
       'hospital_id', 'claim_no', 'discharge_date', 'discharge_date_txt',
       'member_id', 'further_claim', 'patient_registration_id',
       'is_cancel_type', 'total_approve_amount', 'total_approve_amount_txt',
       'total_excess_amount', 'total_excess_amount_txt', 'total_copay_amount',
       'total_copay_amount_txt', 'approve_at', 'approve_at_txt', 'submit_at',
       'submit_at_txt', 'cancel_at', 'cancel_at_txt', 'settle_at',
       'settle_at_txt', 'payment_date', 'payment_date_txt', 'discharge_at',
       'discharge_at_txt', 'hn_or_vn', 'cancel_reason', 'cancel_reason_other',
       'batch_no', 'submited_by', 'discharge_by', 'created_by', 'updated_by',
       'cancle_by', 'invoice_no', 'remark', 'created_submit_by',
       'updated_submit_by', 'created_submit_at', 'updated_submit_at',
       'other_insurer', 'is_check_claim_balance', 'is_reimbursement',
       'epayment_id'],
      dtype='object')

In [24]:
opd['patient_registration_id'].value_counts()

patient_registration_id
80196be1-a407-4fe3-9f01-0bac0c6b129f    24
a08f6871-8898-44f7-a6b3-6104562a1e12    22
2506e70f-9d37-4952-a1f3-15510b47b885    22
d6384993-dd78-409f-82a8-9a7621221cd0    21
6f070913-482e-4883-99f7-6b3df6300083    20
                                        ..
54c00a14-6be7-4d18-9d0d-d5594120ea1b     1
963525f2-603a-4936-98fa-a2074f977f32     1
e528f268-8b76-41ac-a164-43f0fea8c64f     1
27d94542-b1d8-43aa-9a82-3fccf81f7aee     1
6410b9ca-4f6e-4e50-9da0-daedcaf49800     1
Name: count, Length: 36843, dtype: int64

In [82]:
opd['is_procedure'].value_counts()

is_procedure
N    54313
Y      620
Name: count, dtype: int64

In [89]:
opd.

,id,seq,created_at,updated_at,deleted_at,service_setting,illnes_type,policy_type,cid,cid_type,...,invoice_no,remark,created_submit_by,updated_submit_by,created_submit_at,updated_submit_at,other_insurer,is_check_claim_balance,is_reimbursement,epayment_id
0,5ac01d28-649e-45f1-bd6c-28bef03177fd,1723362821876838256,2024-08-11 14:53:41.876 +0700,2024-09-01 01:03:48.499 +0700,NaN,OPD,ILL,CS,3510600017435,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,4f632ac4-ca8e-4f0e-8c8d-7ed56a984f37
1,a58ad61f-5b33-4429-986a-c382d5f23a50,1725096090864466167,2024-08-31 16:21:30.864 +0700,2024-09-01 01:03:36.471 +0700,NaN,OPD,ACC,IB,3101202037015,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,1f43a222-41bf-45b2-8ed6-975488de9f2f
2,6fd19ff2-7795-48f4-8d88-489480e2bfbe,1725002199712584475,2024-08-30 14:16:39.712 +0700,2024-09-01 01:02:13.640 +0700,NaN,OPD,ILL,CS,1100700853593,NATIONAL_ID,...,3167230668,NaN,299cdc89-c705-40fa-b6a6-97f0a8f4e7f4,NaN,2024-09-17 13:19:53.204 +0700,NaN,False,NaN,N,8eee2860-bbf8-4f67-b22e-623b0cfe5dab
3,70e37d78-2db3-40f0-a139-e46d353466b0,1724063329282619820,2024-08-19 17:28:49.282 +0700,2024-09-01 01:02:32.927 +0700,NaN,OPD,ILL,CS,1102001744428,NATIONAL_ID,...,O13-6708-30159,NaN,NaN,NaN,NaN,NaN,False,NaN,N,10469d3c-a44c-42ab-ad39-e28f17a290d8
4,ecd8eec0-86b0-4ed1-a75f-6e724079fa73,1725001867113543084,2024-08-30 14:11:07.113 +0700,2024-09-01 01:02:13.640 +0700,NaN,OPD,ILL,CS,1103701107367,NATIONAL_ID,...,3167230670,NaN,299cdc89-c705-40fa-b6a6-97f0a8f4e7f4,NaN,2024-09-17 13:20:32.262 +0700,NaN,False,NaN,N,8eee2860-bbf8-4f67-b22e-623b0cfe5dab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54928,b08dc9a0-d0d9-446e-953c-6258d94bc441,1724156052825424332,2024-08-20 19:14:12.825 +0700,2024-09-01 01:01:58.572 +0700,NaN,OPD,ACC,CS,1100400063830,NATIONAL_ID,...,co-67-043129,NaN,58384171-7baa-4822-9250-65d63f194154,NaN,2024-09-06 16:13:19.878 +0700,NaN,False,NaN,N,6633e316-6d71-4f5b-b41c-ed10fde7ccef
54929,ded0693c-bee2-4b71-8633-0e63377f3ec6,1724165331195994020,2024-08-20 21:48:51.196 +0700,2024-09-01 01:01:58.572 +0700,NaN,OPD,ILL,IB,1749900148012,NATIONAL_ID,...,co-67-,NaN,58384171-7baa-4822-9250-65d63f194154,NaN,2024-09-06 16:15:39.739 +0700,NaN,False,NaN,N,6633e316-6d71-4f5b-b41c-ed10fde7ccef
54930,adb6c00b-530b-4c29-b3da-7e5522085b8e,1724198777748432307,2024-08-21 07:06:17.748 +0700,2024-09-01 01:01:58.572 +0700,NaN,OPD,ACC,IB,3759900231706,NATIONAL_ID,...,co-67-043031,NaN,58384171-7baa-4822-9250-65d63f194154,NaN,2024-09-06 16:16:57.144 +0700,NaN,False,NaN,N,6633e316-6d71-4f5b-b41c-ed10fde7ccef
54931,4290f566-004a-44f4-96bb-471994ce2835,1722505871463475160,2024-08-01 16:51:11.463 +0700,2024-09-01 01:01:53.343 +0700,NaN,OPD,ILL,IB,1200601639479,NATIONAL_ID,...,2193076,NaN,3107f60d-c3a5-40c0-8eba-0b6c3f8dd55b,NaN,2024-09-07 09:43:59.468 +0700,NaN,False,NaN,NaN,b5f76508-f23b-4ab4-ba3f-0333eacc62f9
54932,ac64f5f7-bd1c-41ed-9051-a4cb2d8454a0,1724912033537508909,2024-08-29 13:13:53.537 +0700,2024-09-01 01:02:41.758 +0700,NaN,OPD,ACC,CS,1570400167291,NATIONAL_ID,...,05592,NaN,e6572019-13a2-4f45-b41b-550eed996e15,NaN,2024-09-07 10:27:15.005 +0700,NaN,False,NaN,N,85ca1154-e9de-49cf-a41b-9e8131578b17

In [69]:
import json

# Load the first row of the billing column
billing_initial = opd['billing'][53993]  # Adjust the index as needed
bill_list = json.loads(billing_initial)
total_billing_amount_after_discount = 0.0

# Print header
print(f"{'Local Billing Name':<45}\t{'Billing Amount':<20}\t{'Discount':<20}")  # Adjust spacing as needed
print("-" * 80)  # Separator line for clarity

# Set the maximum length for the local billing name
max_length = 50  # Adjust based on your desired length

# Loop through each bill item to extract billing amounts and discounts
for bill in bill_list:
    # Extract the billing amount and discount, converting to float
    local_billing_name = bill.get('local_billing_name', 'N/A')  # Get local billing name
    if len(local_billing_name) > max_length:
        local_billing_name = local_billing_name[:max_length - 5] + "..."  # Truncate and add ellipsis
    billing_amount = float(bill['billing_initial'])  # Convert to float for summation
    billing_discount = float(bill['billing_discount'])  # Convert to float

    # Print the row with formatted output
    print(f"{local_billing_name:<45}\t{billing_amount:<20}\t{billing_discount:<20}")

    effective_amount = billing_amount - billing_discount
    total_billing_amount_after_discount += effective_amount

# Display the total billing amount after discounts
print("\nTotal Billing Amount After Discounts:")
print(f"{total_billing_amount_after_discount:.2f}")

Local Billing Name                           	Billing Amount      	Discount
--------------------------------------------------------------------------------
Other Medical Service Charge ค่าบริการทางการแพทย์	50.0                	0.0
Special Diagnositics Physician Service  ค่าตร...	1.0                 	0.0
Nursing and Midwifery Charge   ค่าบริการพยาบาล	80.0                	0.0

Total Billing Amount After Discounts:
131.00

In [79]:
print(opd['total_bill_amount'].loc[53993])
bill_list

630.0

[{'billing_initial': '50',
  'billing_discount': '0',
  'simb_billing_code': '1.1.14(2)',
  'billing_net_amount': '50.00',
  'local_billing_code': '1.1.14(2)',
  'local_billing_name': 'Other Medical Service Charge ค่าบริการทางการแพทย์'},
 {'billing_initial': '1',
  'billing_discount': '0',
  'simb_billing_code': '1.2.1(11)',
  'billing_net_amount': '500.00',
  'local_billing_code': '1.2.1(11)',
  'local_billing_name': 'Special Diagnositics Physician Service  ค่าตรวจวินิจฉัยสาขาเฉพาะ ค่าวิเคราะห์ภาพการแพทย์ คลื่นหัวใจ และอื่นๆ '},
 {'billing_initial': '80',
  'billing_discount': '0',
  'simb_billing_code': '1.1.12',
  'billing_net_amount': '80.00',
  'local_billing_code': '1.1.12',
  'local_billing_name': 'Nursing and Midwifery Charge   ค่าบริการพยาบาล'}]