<a href="https://colab.research.google.com/github/nxxk23/AI-Engineer/blob/main/fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

opd = pd.read_csv('/content/drive/MyDrive/AIEngineer/opd_discharge_August_2024.csv')
opd

,id,seq,created_at,updated_at,deleted_at,service_setting,illnes_type,policy_type,cid,cid_type,...,invoice_no,remark,created_submit_by,updated_submit_by,created_submit_at,updated_submit_at,other_insurer,is_check_claim_balance,is_reimbursement,epayment_id
0,5ac01d28-649e-45f1-bd6c-28bef03177fd,1723362821876838256,2024-08-11 14:53:41.876 +0700,2024-09-01 01:03:48.499 +0700,NaN,OPD,ILL,CS,3510600017435,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,4f632ac4-ca8e-4f0e-8c8d-7ed56a984f37
1,a58ad61f-5b33-4429-986a-c382d5f23a50,1725096090864466167,2024-08-31 16:21:30.864 +0700,2024-09-01 01:03:36.471 +0700,NaN,OPD,ACC,IB,3101202037015,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,1f43a222-41bf-45b2-8ed6-975488de9f2f
2,6fd19ff2-7795-48f4-8d88-489480e2bfbe,1725002199712584475,2024-08-30 14:16:39.712 +0700,2024-09-01 01:02:13.640 +0700,NaN,OPD,ILL,CS,1100700853593,NATIONAL_ID,...,3167230668,NaN,299cdc89-c705-40fa-b6a6-97f0a8f4e7f4,NaN,2024-09-17 13:19:53.204 +0700,NaN,False,NaN,N,8eee2860-bbf8-4f67-b22e-623b0cfe5dab
3,70e37d78-2db3-40f0-a139-e46d353466b0,1724063329282619820,2024-08-19 17:28:49.282 +0700,2024-09-01 01:02:32.927 +0700,NaN,OPD,ILL,CS,1102001744428,NATIONAL_ID,...,O13-6708-30159,NaN,NaN,NaN,NaN,NaN,False,NaN,N,10469d3c-a44c-42ab-ad39-e28f17a290d8
4,ecd8eec0-86b0-4ed1-a75f-6e724079fa73,1725001867113543084,2024-08-30 14:11:07.113 +0700,2024-09-01 01:02:13.640 +0700,NaN,OPD,ILL,CS,1103701107367,NATIONAL_ID,...,3167230670,NaN,299cdc89-c705-40fa-b6a6-97f0a8f4e7f4,NaN,2024-09-17 13:20:32.262 +0700,NaN,False,NaN,N,8eee2860-bbf8-4f67-b22e-623b0cfe5dab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54928,b08dc9a0-d0d9-446e-953c-6258d94bc441,1724156052825424332,2024-08-20 19:14:12.825 +0700,2024-09-01 01:01:58.572 +0700,NaN,OPD,ACC,CS,1100400063830,NATIONAL_ID,...,co-67-043129,NaN,58384171-7baa-4822-9250-65d63f194154,NaN,2024-09-06 16:13:19.878 +0700,NaN,False,NaN,N,6633e316-6d71-4f5b-b41c-ed10fde7ccef
54929,ded0693c-bee2-4b71-8633-0e63377f3ec6,1724165331195994020,2024-08-20 21:48:51.196 +0700,2024-09-01 01:01:58.572 +0700,NaN,OPD,ILL,IB,1749900148012,NATIONAL_ID,...,co-67-,NaN,58384171-7baa-4822-9250-65d63f194154,NaN,2024-09-06 16:15:39.739 +0700,NaN,False,NaN,N,6633e316-6d71-4f5b-b41c-ed10fde7ccef
54930,adb6c00b-530b-4c29-b3da-7e5522085b8e,1724198777748432307,2024-08-21 07:06:17.748 +0700,2024-09-01 01:01:58.572 +0700,NaN,OPD,ACC,IB,3759900231706,NATIONAL_ID,...,co-67-043031,NaN,58384171-7baa-4822-9250-65d63f194154,NaN,2024-09-06 16:16:57.144 +0700,NaN,False,NaN,N,6633e316-6d71-4f5b-b41c-ed10fde7ccef
54931,4290f566-004a-44f4-96bb-471994ce2835,1722505871463475160,2024-08-01 16:51:11.463 +0700,2024-09-01 01:01:53.343 +0700,NaN,OPD,ILL,IB,1200601639479,NATIONAL_ID,...,2193076,NaN,3107f60d-c3a5-40c0-8eba-0b6c3f8dd55b,NaN,2024-09-07 09:43:59.468 +0700,NaN,False,NaN,NaN,b5f76508-f23b-4ab4-ba3f-0333eacc62f9
54932,ac64f5f7-bd1c-41ed-9051-a4cb2d8454a0,1724912033537508909,2024-08-29 13:13:53.537 +0700,2024-09-01 01:02:41.758 +0700,NaN,OPD,ACC,CS,1570400167291,NATIONAL_ID,...,05592,NaN,e6572019-13a2-4f45-b41b-550eed996e15,NaN,2024-09-07 10:27:15.005 +0700,NaN,False,NaN,N,85ca1154-e9de-49cf-a41b-9e8131578b17

In [2]:
opd.columns

Index(['id', 'seq', 'created_at', 'updated_at', 'deleted_at',
       'service_setting', 'illnes_type', 'policy_type', 'cid', 'cid_type',
       'claim_status', 'claim_status_desc', 'ref_id', 'transaction_uid',
       'transaction_no', 'is_follow_up', 'further_claim_id',
       'electronic_signature', 'accident_cause_over45_days', 'admit_date_time',
       'admit_date_time_txt', 'dsc_date_time', 'dsc_date_time_txt',
       'chief_complaint', 'is_procedure', 'icd9', 'dx_free_text', 'coma_score',
       'claim_from_motorcycle', 'visit_with_alcohol_or_drug',
       'alcohol_related', 'addiction_related', 'pregnant', 'total_bill_amount',
       'total_bill_amount_txt', 'patient', 'vital_sign', 'doctor',
       'order_item', 'billing', 'attach_doc_list', 'diagnosis', 'response',
       'check_eligible_id', 'insurance', 'insurance_id', 'hospital_code',
       'hospital_id', 'claim_no', 'discharge_date', 'discharge_date_txt',
       'member_id', 'further_claim', 'patient_registration_id',
       'is_cancel_type', 'total_approve_amount', 'total_approve_amount_txt',
       'total_excess_amount', 'total_excess_amount_txt', 'total_copay_amount',
       'total_copay_amount_txt', 'approve_at', 'approve_at_txt', 'submit_at',
       'submit_at_txt', 'cancel_at', 'cancel_at_txt', 'settle_at',
       'settle_at_txt', 'payment_date', 'payment_date_txt', 'discharge_at',
       'discharge_at_txt', 'hn_or_vn', 'cancel_reason', 'cancel_reason_other',
       'batch_no', 'submited_by', 'discharge_by', 'created_by', 'updated_by',
       'cancle_by', 'invoice_no', 'remark', 'created_submit_by',
       'updated_submit_by', 'created_submit_at', 'updated_submit_at',
       'other_insurer', 'is_check_claim_balance', 'is_reimbursement',
       'epayment_id'],
      dtype='object')

## **calculate bill**

In [24]:
import json

# Load the first row of the billing column
billing_initial = opd['billing'][0]
bill_list = json.loads(billing_initial)
total_billing_amount_after_discount = 0.0

# Loop through each bill item to extract billing amounts and discounts
for bill in bill_list:
    # Extract the billing amount and discount, converting to float
    billing_amount = float(bill['billing_initial'])  # Convert to float for summation
    billing_discount = float(bill['billing_discount'])  # Convert to float
    print(f"Billing Initial: {billing_amount:.2f}  Discount: {billing_discount:.2f}")
    effective_amount = billing_amount - billing_discount
    total_billing_amount_after_discount += effective_amount

# Display the total billing amount after discounts
print("\nTotal Billing Amount After Discounts:")
print(f"{total_billing_amount_after_discount:.2f}")

Billing Initial: 33.00  Discount: 3.00
Billing Initial: 790.00  Discount: 0.00
Billing Initial: 280.00  Discount: 0.00
Billing Initial: 700.00  Discount: 0.00

Total Billing Amount After Discounts:
1800.00

In [51]:
import json

# Load the first row of the billing column
billing_initial = opd['billing'][6204]  # Adjust the index as needed
bill_list = json.loads(billing_initial)
total_billing_amount_after_discount = 0.0

# Print header
print(f"{'Local Billing Name':<45}\t{'Billing Amount':<20}\t{'Discount':<20}")  # Adjust spacing as needed
print("-" * 80)  # Separator line for clarity

# Set the maximum length for the local billing name
max_length = 50  # Adjust based on your desired length

# Loop through each bill item to extract billing amounts and discounts
for bill in bill_list:
    # Extract the billing amount and discount, converting to float
    local_billing_name = bill.get('local_billing_name', 'N/A')  # Get local billing name
    if len(local_billing_name) > max_length:
        local_billing_name = local_billing_name[:max_length - 5] + "..."  # Truncate and add ellipsis
    billing_amount = float(bill['billing_initial'])  # Convert to float for summation
    billing_discount = float(bill['billing_discount'])  # Convert to float

    # Print the row with formatted output
    print(f"{local_billing_name:<45}\t{billing_amount:<20}\t{billing_discount:<20}")

    effective_amount = billing_amount - billing_discount
    total_billing_amount_after_discount += effective_amount

# Display the total billing amount after discounts
print("\nTotal Billing Amount After Discounts:")
print(f"{total_billing_amount_after_discount:.2f}")

Local Billing Name                           	Billing Amount      	Discount
--------------------------------------------------------------------------------
Outpatient Medication   ค่ายาผู้ป่วยนอก      	0.0                 	0.0
Medical Supplies 1   เวชภัณฑ์1               	0.0                 	0.0
Laboratory Investigation and Pathology  ค่าตร...	0.0                 	0.0
Nursing and Midwifery Charge   ค่าบริการพยาบาล	0.0                 	0.0
Other Medical Service Charge ค่าบริการทางการแพทย์	0.0                 	0.0
First Outpatient care before admission  ค่าแพ...	0.0                 	0.0

Total Billing Amount After Discounts:
0.00

In [52]:
import json

# Load the first row of the billing column
billing_initial = opd['billing'][1]  # Adjust the index as needed
bill_list = json.loads(billing_initial)
total_billing_amount_after_discount = 0.0

# Print header
print(f"{'Local Billing Name':<45}\t{'Billing Amount':<20}\t{'Discount':<20}")  # Adjust spacing as needed
print("-" * 80)  # Separator line for clarity

# Set the maximum length for the local billing name
max_length = 50  # Adjust based on your desired length

# Loop through each bill item to extract billing amounts and discounts
for bill in bill_list:
    # Extract the billing amount and discount, converting to float
    local_billing_name = bill.get('local_billing_name', 'N/A')  # Get local billing name
    if len(local_billing_name) > max_length:
        local_billing_name = local_billing_name[:max_length - 5] + "..."  # Truncate and add ellipsis
    billing_amount = float(bill['billing_initial'])  # Convert to float for summation
    billing_discount = float(bill['billing_discount'])  # Convert to float

    # Print the row with formatted output
    print(f"{local_billing_name:<45}\t{billing_amount:<20}\t{billing_discount:<20}")

    effective_amount = billing_amount - billing_discount
    total_billing_amount_after_discount += effective_amount

# Display the total billing amount after discounts
print("\nTotal Billing Amount After Discounts:")
print(f"{total_billing_amount_after_discount:.2f}")

Local Billing Name                           	Billing Amount      	Discount
--------------------------------------------------------------------------------
Outpatient Medication   ค่ายาผู้ป่วยนอก      	1032.0              	103.0
Nursing and Midwifery Charge   ค่าบริการพยาบาล	650.0               	0.0
Other Medical Service Charge ค่าบริการทางการแพทย์	310.0               	0.0
Medical Supplies 1   เวชภัณฑ์1               	429.0               	0.0
First Outpatient care before admission  ค่าแพ...	1200.0              	0.0
Physician Procedures  ค่าแพทย์ศัลยกรรม  หัตถก...	840.0               	0.0

Total Billing Amount After Discounts:
4358.00

In [21]:
# print(opd[['total_bill_amount','total_bill_amount_txt','billing']].info())
opd[['total_bill_amount','billing']]

,total_bill_amount,total_bill_amount_txt,billing
0,1800.0,1800.0,"[{""billing_initial"": ""33.00"", ""billing_discoun..."
1,4358.0,4358.0,"[{""billing_initial"": ""1032.00"", ""billing_disco..."
2,1000.0,1000.0,"[{""billing_initial"": ""1006.00"", ""billing_disco..."
3,1400.0,1400.0,"[{""billing_initial"": ""350"", ""billing_discount""..."
4,1254.0,1254.0,"[{""billing_initial"": ""1270.00"", ""billing_disco..."
...,...,...,...
54928,6850.0,6850.0,"[{""billing_initial"": ""890.00"", ""billing_discou..."
54929,1955.0,1955.0,"[{""billing_initial"": ""745.00"", ""billing_discou..."
54930,5130.0,5130.0,"[{""billing_initial"": ""700.00"", ""billing_discou..."
54931,115.0,115.0,"[{""billing_initial"": ""15.00"", ""billing_discoun..."
54932,624.0,624.0,"[{""billing_initial"": ""200"", ""billing_discount""..."

In [18]:
opd[opd['total_bill_amount_txt'].isnull()][['total_bill_amount','total_bill_amount_txt','billing']] ## ต้องเติมด้วย 0 แต่จริงๆก็ควร drop total_bill_amount_txt

,total_bill_amount,total_bill_amount_txt,billing
6204,0.0,NaN,"[{""billing_initial"": ""0.00"", ""billing_discount..."

> check if there any incorrect data

In [55]:
!pip -q install prettytable

In [65]:
import json
import pandas as pd
from prettytable import PrettyTable
import math

In [66]:
# List to store discrepancies
discrepancies = []

# Loop through each row in the DataFrame
for index, row in opd.iterrows():
    billing_initial = row['billing']  # Get the billing JSON string
    bill_list = json.loads(billing_initial)  # Convert JSON string to list
    total_billing_amount_after_discount = 0.0

    # Loop through each bill item to extract billing amounts and discounts
    for bill in bill_list:
        # Extract the billing amount and discount, converting to float
        billing_amount = float(bill['billing_initial'])  # Convert to float for summation
        billing_discount = float(bill['billing_discount'])  # Convert to float

        effective_amount = billing_amount - billing_discount
        total_billing_amount_after_discount += effective_amount

    # Check for discrepancies with rounded comparison
    if not math.isclose(total_billing_amount_after_discount, row['total_bill_amount'], rel_tol=1e-9):
        discrepancies.append({
            'Row': index,
            'Expected': row['total_bill_amount'],
            'Calculated': total_billing_amount_after_discount
        })

# Display discrepancies in a table format using PrettyTable
if discrepancies:
    table = PrettyTable()
    table.field_names = ["Row", "Expected", "Calculated"]

    for discrepancy in discrepancies:
        table.add_row([discrepancy['Row'], discrepancy['Expected'], f"{discrepancy['Calculated']:.2f}"])

    print(table)
else:
    print("No discrepancies found.")

+-------+----------+------------+
|  Row  | Expected | Calculated |
+-------+----------+------------+
|  786  |  1462.8  |  1461.90   |
|  1511 |  4285.0  |  4284.00   |
|  1786 |  530.0   |   131.00   |
|  2405 |  800.0   |   800.00   |
| 15141 |  648.0   |   648.00   |
| 17298 |  2296.9  |  2296.10   |
| 24361 |  1000.0  |  1000.00   |
| 29454 |  1520.0  |  1520.00   |
| 35394 |  1000.0  |  1000.00   |
| 35570 |  600.0   |   600.00   |
| 35585 |  800.0   |   800.00   |
| 36139 |  3000.0  |  3000.00   |
| 36669 |  1000.0  |  1000.00   |
| 36688 |  800.0   |   800.00   |
| 37531 |  800.0   |   800.00   |
| 37956 |  800.0   |   800.00   |
| 38277 |  1500.0  |  1500.00   |
| 38854 |  800.0   |   800.00   |
| 38868 |  800.0   |   800.00   |
| 38879 |  800.0   |   800.00   |
| 40138 |  1463.4  |  1462.50   |
| 51312 |  885.0   |   356.00   |
| 53320 |  800.0   |   800.00   |
| 53993 |  630.0   |   131.00   |
+-------+----------+------------+

In [69]:
import json

# Load the first row of the billing column
billing_initial = opd['billing'][53993]  # Adjust the index as needed
bill_list = json.loads(billing_initial)
total_billing_amount_after_discount = 0.0

# Print header
print(f"{'Local Billing Name':<45}\t{'Billing Amount':<20}\t{'Discount':<20}")  # Adjust spacing as needed
print("-" * 80)  # Separator line for clarity

# Set the maximum length for the local billing name
max_length = 50  # Adjust based on your desired length

# Loop through each bill item to extract billing amounts and discounts
for bill in bill_list:
    # Extract the billing amount and discount, converting to float
    local_billing_name = bill.get('local_billing_name', 'N/A')  # Get local billing name
    if len(local_billing_name) > max_length:
        local_billing_name = local_billing_name[:max_length - 5] + "..."  # Truncate and add ellipsis
    billing_amount = float(bill['billing_initial'])  # Convert to float for summation
    billing_discount = float(bill['billing_discount'])  # Convert to float

    # Print the row with formatted output
    print(f"{local_billing_name:<45}\t{billing_amount:<20}\t{billing_discount:<20}")

    effective_amount = billing_amount - billing_discount
    total_billing_amount_after_discount += effective_amount

# Display the total billing amount after discounts
print("\nTotal Billing Amount After Discounts:")
print(f"{total_billing_amount_after_discount:.2f}")

Local Billing Name                           	Billing Amount      	Discount
--------------------------------------------------------------------------------
Other Medical Service Charge ค่าบริการทางการแพทย์	50.0                	0.0
Special Diagnositics Physician Service  ค่าตร...	1.0                 	0.0
Nursing and Midwifery Charge   ค่าบริการพยาบาล	80.0                	0.0

Total Billing Amount After Discounts:
131.00

In [79]:
print(opd['total_bill_amount'].loc[53993])
bill_list

630.0

[{'billing_initial': '50',
  'billing_discount': '0',
  'simb_billing_code': '1.1.14(2)',
  'billing_net_amount': '50.00',
  'local_billing_code': '1.1.14(2)',
  'local_billing_name': 'Other Medical Service Charge ค่าบริการทางการแพทย์'},
 {'billing_initial': '1',
  'billing_discount': '0',
  'simb_billing_code': '1.2.1(11)',
  'billing_net_amount': '500.00',
  'local_billing_code': '1.2.1(11)',
  'local_billing_name': 'Special Diagnositics Physician Service  ค่าตรวจวินิจฉัยสาขาเฉพาะ ค่าวิเคราะห์ภาพการแพทย์ คลื่นหัวใจ และอื่นๆ '},
 {'billing_initial': '80',
  'billing_discount': '0',
  'simb_billing_code': '1.1.12',
  'billing_net_amount': '80.00',
  'local_billing_code': '1.1.12',
  'local_billing_name': 'Nursing and Midwifery Charge   ค่าบริการพยาบาล'}]

In [5]:
opd['chief_complaint']

0                                            เบาหวาน ไขมัน
1                    ขาขวากระแทกประตู 09.30 น \r\nไม่แพ้ยา
2                                    ติดตามอาการหลังผ่าตัด
3         มีน้ำมูก คัดจมูก หูอื้อ เป็นมา 3 วัน \r\n\r\n...
4        F/U ติดตามอาการ case Baoteral Vaginitis + UA ก...
                               ...
54928                                             เท้าพลิก
54929                                                 ผื่น
54930                                     เข่าขวากระทกโต๊ะ
54931                                              ปวดเข่า
54932                   ล้างแผลต่อเนื่องบริเวณนิ้วโป้งซ้าย
Name: chief_complaint, Length: 54933, dtype: object

In [41]:
print(opd['chief_complaint'].loc[7])

เจ็บคอ 4 d PTA

In [40]:
import json
order_items = opd['order_item'][7]
order_items_list = json.loads(order_items)
for item in order_items_list:
    print(f"Item ID: {item['item_id']}, Item Name: {item['item_name']}")

Item ID: 0103C09N0000L01, Item Name: NASOTAPP TAB
Item ID: 0117A04C0010L01, Item Name: CE-TI-RI-ZINE เม็ดขาวรี 10 MG*ข
Item ID: 0103C03B0008L01, Item Name: BISOLVON (L) 8 MG TAB
Item ID: 0303C01A0100L01, Item Name: ACETYLCYSTEINE 100 mg Powder (สีส้ม)
Item ID: 0104B04P0500L05, Item Name: PARACETAMOL 500 MG TAB*ก
Item ID: 0513I01K0000O01, Item Name: KAMILOSAN-M SPRAY
Item ID: NSOP, Item Name: บริการพยาบาล OPD
Item ID: S-NH0P, Item Name: ค่าบริการโรงพยาบาล OPD
Item ID: DFO-001, Item Name: DF แพทย์ตรวจรักษา (Doctor Fee)

In [22]:
opd[opd['order_item']!='[]'][['order_item']]

                                              order_item
1      [{"initial": "48", "item_id": "0914E06B0500O02...
3      [{"initial": "350", "item_id": "DF1", "discoun...
7      [{"initial": "154", "item_id": "0103C09N0000L0...
11     [{"initial": "700", "item_id": "DF1", "discoun...
13     [{"initial": "500", "item_id": "DF1", "discoun...
...                                                  ...
54724  [{"initial": "50", "item_id": "13-GE-OPD", "di...
54731  [{"initial": "200", "item_id": "24-DFO2-", "di...
54739  [{"initial": "295", "item_id": "P00604120008",...
54829  [{"initial": "1360", "item_id": "1.1.1(3)", "d...
54932  [{"initial": "200", "item_id": "24-DFO2-", "di...

[16477 rows x 1 columns]

In [47]:
claim = opd.filter(like='claim', axis=1)
claim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54933 entries, 0 to 54932
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   claim_status            54933 non-null  object
 1   claim_status_desc       54930 non-null  object
 2   further_claim_id        6844 non-null   object
 3   claim_from_motorcycle   54933 non-null  object
 4   claim_no                54877 non-null  object
 5   further_claim           54933 non-null  object
 6   is_check_claim_balance  0 non-null      float64
dtypes: float64(1), object(6)
memory usage: 2.9+ MB

In [50]:
claim.head(1)

,claim_status,claim_status_desc,further_claim_id,claim_from_motorcycle,claim_no,further_claim,is_check_claim_balance
0,Received,ได้รับเอกสารแล้ว,NaN,N,C028862273,"{""icd10"": """", ""claim_no"": """", ""visit_date"": """"...",NaN

In [56]:
claim['claim_status'].value_counts()

claim_status
Submit            25906
Approve           15581
Received          11294
Cancelled          1032
Settle              838
Decline             184
Reversed             47
Processing           34
AddDoc               15
Not applicable        2
Name: count, dtype: int64

In [57]:
claim['claim_status_desc'].value_counts()

claim_status_desc
ทำการวางบิลเเล้ว                        23862
อนุมัติการเรียกร้องสินไหม               15581
ได้รับเอกสารแล้ว                        11256
ทำการส่งเคลมเเล้ว                        2044
ยกเลิกรายการ                             1079
จ่ายเงินสินไหมทดแทนแล้ว                   837
ไม่อนุมัติการเรียกร้องสินไหมครั้งนี้      184
ได้รับเอกสารแล้ว                           38
กำลังพิจารณา                               31
ได้รับเอกสารเพิ่มเติมแล้ว                  15
ไม่พบข้อมูล                                 2
Settle                                      1
Name: count, dtype: int64

In [43]:
opd

,id,seq,created_at,updated_at,deleted_at,service_setting,illnes_type,policy_type,cid,cid_type,...,invoice_no,remark,created_submit_by,updated_submit_by,created_submit_at,updated_submit_at,other_insurer,is_check_claim_balance,is_reimbursement,epayment_id
0,5ac01d28-649e-45f1-bd6c-28bef03177fd,1723362821876838256,2024-08-11 14:53:41.876 +0700,2024-09-01 01:03:48.499 +0700,NaN,OPD,ILL,CS,3510600017435,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,4f632ac4-ca8e-4f0e-8c8d-7ed56a984f37
1,a58ad61f-5b33-4429-986a-c382d5f23a50,1725096090864466167,2024-08-31 16:21:30.864 +0700,2024-09-01 01:03:36.471 +0700,NaN,OPD,ACC,IB,3101202037015,NATIONAL_ID,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,N,1f43a222-41bf-45b2-8ed6-975488de9f2f
2,6fd19ff2-7795-48f4-8d88-489480e2bfbe,1725002199712584475,2024-08-30 14:16:39.712 +0700,2024-09-01 01:02:13.640 +0700,NaN,OPD,ILL,CS,1100700853593,NATIONAL_ID,...,3167230668,NaN,299cdc89-c705-40fa-b6a6-97f0a8f4e7f4,NaN,2024-09-17 13:19:53.204 +0700,NaN,False,NaN,N,8eee2860-bbf8-4f67-b22e-623b0cfe5dab
3,70e37d78-2db3-40f0-a139-e46d353466b0,1724063329282619820,2024-08-19 17:28:49.282 +0700,2024-09-01 01:02:32.927 +0700,NaN,OPD,ILL,CS,1102001744428,NATIONAL_ID,...,O13-6708-30159,NaN,NaN,NaN,NaN,NaN,False,NaN,N,10469d3c-a44c-42ab-ad39-e28f17a290d8
4,ecd8eec0-86b0-4ed1-a75f-6e724079fa73,1725001867113543084,2024-08-30 14:11:07.113 +0700,2024-09-01 01:02:13.640 +0700,NaN,OPD,ILL,CS,1103701107367,NATIONAL_ID,...,3167230670,NaN,299cdc89-c705-40fa-b6a6-97f0a8f4e7f4,NaN,2024-09-17 13:20:32.262 +0700,NaN,False,NaN,N,8eee2860-bbf8-4f67-b22e-623b0cfe5dab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54928,b08dc9a0-d0d9-446e-953c-6258d94bc441,1724156052825424332,2024-08-20 19:14:12.825 +0700,2024-09-01 01:01:58.572 +0700,NaN,OPD,ACC,CS,1100400063830,NATIONAL_ID,...,co-67-043129,NaN,58384171-7baa-4822-9250-65d63f194154,NaN,2024-09-06 16:13:19.878 +0700,NaN,False,NaN,N,6633e316-6d71-4f5b-b41c-ed10fde7ccef
54929,ded0693c-bee2-4b71-8633-0e63377f3ec6,1724165331195994020,2024-08-20 21:48:51.196 +0700,2024-09-01 01:01:58.572 +0700,NaN,OPD,ILL,IB,1749900148012,NATIONAL_ID,...,co-67-,NaN,58384171-7baa-4822-9250-65d63f194154,NaN,2024-09-06 16:15:39.739 +0700,NaN,False,NaN,N,6633e316-6d71-4f5b-b41c-ed10fde7ccef
54930,adb6c00b-530b-4c29-b3da-7e5522085b8e,1724198777748432307,2024-08-21 07:06:17.748 +0700,2024-09-01 01:01:58.572 +0700,NaN,OPD,ACC,IB,3759900231706,NATIONAL_ID,...,co-67-043031,NaN,58384171-7baa-4822-9250-65d63f194154,NaN,2024-09-06 16:16:57.144 +0700,NaN,False,NaN,N,6633e316-6d71-4f5b-b41c-ed10fde7ccef
54931,4290f566-004a-44f4-96bb-471994ce2835,1722505871463475160,2024-08-01 16:51:11.463 +0700,2024-09-01 01:01:53.343 +0700,NaN,OPD,ILL,IB,1200601639479,NATIONAL_ID,...,2193076,NaN,3107f60d-c3a5-40c0-8eba-0b6c3f8dd55b,NaN,2024-09-07 09:43:59.468 +0700,NaN,False,NaN,NaN,b5f76508-f23b-4ab4-ba3f-0333eacc62f9
54932,ac64f5f7-bd1c-41ed-9051-a4cb2d8454a0,1724912033537508909,2024-08-29 13:13:53.537 +0700,2024-09-01 01:02:41.758 +0700,NaN,OPD,ACC,CS,1570400167291,NATIONAL_ID,...,05592,NaN,e6572019-13a2-4f45-b41b-550eed996e15,NaN,2024-09-07 10:27:15.005 +0700,NaN,False,NaN,N,85ca1154-e9de-49cf-a41b-9e8131578b17